
$color-black: #0a043c; /* black */
$color-footer: #03506f; /* dk blue */
$color-grey: #bbbbbb; /* grey */
$color-head: #FFE3D8; /* peach */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: $color-black;
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
